# Server
PORT=8080
APP_BASE_URL=http://localhost:8080

# Supabase
SUPABASE_URL=https://kskjilmsxhnuhqjzjuot.supabase.co
SUPABASE_ANON_KEY=sb_publishable_mWF3nepGcuz5iU9YDnsnFg_gcJApK3C
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtza2ppbG1zeGhudWhxanpqdW90Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MjUwMTYsImV4cCI6MjA5MTQwMTAxNn0.92eWVH7k9S6tKhjifxjpBVs8O9lD5h-SzcIlOKVc0T4
# Stripe (subscription 39.99 EUR)
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=price_1TK50iQavHVOwy9LfpPj07Ju
STRIPE_WEBHOOK_SECRET=